<?xml version="1.0"?>
<Configuration name="Log4j1">
    <Appenders>
        <Console name="dest2" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%-5level: %r ${hostName} %X{serviceUUID} %X{taskname} %X{timestamp} %X{resources} %t %l: %m%n" />
        </Console>
        <File name="ruleLog" fileName="rules.log" append="true" bufferedIo="false">
            <PatternLayout pattern="%m" />
        </File>
        <Console name="solutionsLog" target="SYSTEM_OUT">
            <PatternLayout pattern="SOLUTION:	%m" />
        </Console>
        <Console name="sparqlLog" target="SYSTEM_OUT">
            <PatternLayout pattern="#----------%d-----------tx=%X{tx}%n%m" />
        </Console>
        <Console name="dest1" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level: %F:%L: %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="dest1" />
        </Root>
        <Logger name="com.bigdata.relation.rule.eval.RuleLog" level="INFO">
            <AppenderRef ref="ruleLog" />
        </Logger>
        <Logger name="com.bigdata.LRUNexus" level="INFO" />
        <Logger name="com.bigdata.rdf.store.ConcurrentDataLoader" level="INFO" />
        <Logger name="com.bigdata.rdf.store.DataLoader" level="INFO" />
        <Logger name="com.bigdata.rdf.sparql.ast.eval.ASTEvalHelper" level="WARN" />
    </Loggers>
</Configuration>